<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Homepage</title>
    <meta name="description" content="My NodeJS practice homepage">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <base href="/">
  </head>
  <body>
    <nav>
      <div id="logo">
        <a href="http://localhost:3000/">
          <img src="/images/smallURL_logo.png" alt="alernate text" width="450px" height="250px">
        </a>
      </div>
    </nav>
    <h1>This is my homepage. You can navigate to different apps using the Navbar.</h1>
  </body>
</html>