<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form resubmit</title>
  </head>
  <body>
    <p>It seems the identifer you selected has been taken. Please choose another identifer!</p>
    <form action="/" method="post">
        <label for="originalurl">URL you would like to convert:</label><br>
        <input type="text" id="originalurl" name="originalurl"><br>
        <label for="identifier">Optional identifier for your URL:</label><br>
        <input type="text" id="identifier" name="identifier"><br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
